<main class="p-5">
    <h1>Hello Boo</h1>
    <style>
        h1 {
            color: yellowgreen;
        }
    </style>
    {{> title name="Boo boo boo"}}

    <div style="color: black; background: burlywood">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore expedita tempora quidem at neque obcaecati veniam ad praesentium facere, pariatur nesciunt dolor modi maiores, odio et quo sapiente! Consequatur, minus?</div>
</main>