<main class="p-1">
    <div class="row g-1">
        <div class="col-3">
            <div>
                <label class="form-label">My label</label>
                <input class="form-control">
                <div class="form-text text-danger">You are asshole. Really !</div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label class="form-label">disabled</label>
                <input class="form-control" disabled>
                <div class="form-text text-danger">You are asshole. Really !</div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label class="form-label">color</label>
                <input class="form-control" type="color">
                <div class="form-text text-danger">You are asshole. Really !</div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label class="form-label">form-control-lg</label>
                <input class="form-control form-control-lg" type="color">
                <div class="form-text text-danger">You are asshole. Really !</div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label class="form-label">form-control-sm</label>
                <input class="form-control form-control-sm">
                <div class="form-text text-danger">You are asshole. Really !</div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label class="form-label">form-select</label>
                <select class="form-select text-primary">
                    <option selected>Boo</option>
                    <option> Boo 2</option>
                    <option> Boo 3</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label class="form-label">form-select-lg</label>
                <select class="form-select text-secondary form-select-lg">
                    <option selected>Boo</option>
                    <option> Boo 2</option>
                    <option> Boo 3</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label class="form-label">form-select-sm</label>
                <select class="form-select text-dark form-select-sm">
                    <option selected>Boo</option>
                    <option> Boo 2</option>
                    <option> Boo 3</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="form-check">
                <label class="form-check-label">form-check</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">form-check 2</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">form-check 3</label>
                <input type="checkbox" class="form-check-input">
            </div>
        </div>
        <div class="col-3">
            <div class="form-check">
                <label class="form-check-label">radio</label>
                <input name="boo" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">radio 2</label>
                <input name="boo" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">radio 3</label>
                <input name="boo" type="radio" class="form-check-input">
            </div>
        </div>
        <div class="col-3">
            <div class="form-check form-switch">
                <label class="form-check-label">form-switch</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label">form-switch 2</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label">form-switch 3</label>
                <input type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>
</main>