<main>
    <div class="card">
        <div class="card-body">
            <h1>Hello world 1</h1>
            <h2>Hello world 2</h2>
            <h3>Hello world 3</h3>
            <h4>Hello world 4</h4>
            <h5>Hello world 5</h5>
            <h6>Hello world 6</h6>
        </div>
    </div>
    <hr>
    <div class="display-1 text-muted">Some text 1</div>
    <div class="display-5">Some text 5</div>
    <div class="display-6">Some text 6</div>
    <hr>
    <div class="text-muted">Text muted</div>
    <div class="text-center">Text center</div>
    <div class="text-end">Text end</div>
    <hr>
    <div class="text-uppercase">text uppercase</div>
    <div class="text-lowercase">tExt lOwerCase</div>
    <div class="text-capitalize">text capitalize</div>
    <hr>
    <button class="btn btn-primary">
        
        <span class="text-uppercase">Primary</span>
        <h1>Text</h1>
    </button>
    <hr>
    <div class="display-5">
        <span class="text-primary">Primary</span>
        <span class="text-secondary">Secondary</span>
        <span class="text-success">Success</span>
        <span class="text-danger">Danger</span>
        <span class="text-warning">Warning</span>
        <span class="text-info">Info</span>
        <span class="text-light">Light</span>
        <span class="text-dark">Dark</span>
    </div>
    <hr>
    <button class="btn btn-outline-primary">Outline button</button>
    <hr>
    <button class="btn btn-lg">Large button</button>
    <button class="btn btn-primary btn-sm">🎯Small button</button>
    <hr>
    <div class="card">
        <div class="card-body">
            Content
        </div>
    </div>
</main>