<main class="p-1">
    <h1>
        <i class="bi bi-wifi-off">Boo</i>
        <i class="bi bi-truck-front"></i>
    </h1>
    <button class="btn btn-success">
        <i class="bi bi-spotify"></i>
    </button>
    <h2>
        <i class="fa-solid fa-hippo"></i>
    </h2>
    <div style="width: 50px; height:50px">
        <i class="fa-regular fa-sun"></i>
    </div>
</main>