<div class="row">
    {{#with main}}
    <main class="col-5">
        <section>
            {{> title name="My education" big=true}}
            <ul class="list-group">
                {{#each educations}}
                    <li class="list-group-item mx-2">
                        {{name}}
                        {{#unless isEnd includeZero=true}}<span class="badge rounded-pill text-bg-warning">STUDYING</span>{{/unless}}
                    </li>
                {{/each}}
            </ul>
        </section>
        <br>
        <section>
            {{> title name="My certificates"}}
            <ul class="list-group">
                {{#each certificates}}
                    <li  class="list-group-item mx-2">
                        {{name}}
                        <span class="badge text-bg-info">{{id}}</span>
                    </li>
                {{/each}}
            </ul>
        </section>
    </main>
    {{/with}}
</div>