{{#with program}}
    {{#with excursion}}
    <div>
    <section>
        {{> title name=name big=true}}
        
        {{location.city}} {{location.country}}
        {{date}}
    </section>
    </div>
    {{/with}}
{{/with}}