<div>
	{{#with main}}
    <main>
        <section class="mb-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        {{> title name=summary.title big=true}}
                    </div>
                    {{summary.text}}
                </div>
            </div>
        </section>

        <section>
            
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        {{> title name=otherexp.title}}
                    </div>
                    {{otherexp.text}}
                </div>
            </div>
        </section>
    </main>
	{{/with}}
</div>