{{#with web}}
    {{#each languages}}
        <div>
            {{> title name=name big=true}}
            <u>Version: {{version}}</u><br>
            <em>{{description}}</em>
        </div>
        <div>
            {{#if elements}}
                {{#each elements}}
                    <div>
                        {{> element name=name description=description}}
                        <h4>Attributes:</h4>
                        <ul>
                            {{#each attributes}}
                                <li>
                                    {{> element name=name description=description}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            {{/if}}
            {{#if properties}}
                {{#each properties}}
                    <div>
                        {{> element name=name description=description}}
                        <h4>Values:</h4>
                        <ul>
                            {{#each values}}
                                <li>
                                    {{> element name=value description=description}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            {{/if}}
            {{#if functions}}
                {{#each functions}}
                    <div>
                        {{> element name=name description=description}}
                        <h4>Parameters:</h4>
                        <ul>
                            {{#each parameters}}
                                <li>
                                    {{> element name=name description=description}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    {{/each}}
{{/with}}