<div>
    <dl>
        <dt>
            {{> title name=name}}
        </dt>
        {{#if type}}
        <dd>
            {{type}}:
        </dd>
        {{/if}}
        <dd>
            <em>{{description}}</em>
        </dd>
    </dl>
</div>