<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/skills">Skills</a></li>
    <li class="breadcrumb-item"><a href="/summary">Summary</a></li>
    <li class="breadcrumb-item"><a href="/education">Education</a></li>
    <li class="breadcrumb-item"><a href="/work">Work</a></li>
  </ol>
</nav>