<!DOCTYPE html>
<html>

  <head>
    {{#if page.title.name}}
      <title>{{page.title.name}}</title>
    {{else}}
      <title>Untitled page</title>
    {{/if}}
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>
    {{> nav}}
    <br>
    <hr>

    {{{body}}}

    {{> footer}}

  </body>

</html>